[includeIf "gitdir:~/pj/"]
    path = ~/neodots/git/.gitconfig.oss

[includeIf "gitdir:~/neodots/"]
    path = ~/neodots/git/.gitconfig.oss

[includeIf "gitdir:~/inspec/"]
    path = ~/neodots/git/.gitconfig.inspec

[pull]
    ff = only

[core]
    attributesfile = ~/.gitattributes

[init]
    defaultBranch = master
