[Desktop Entry]
Comment=
Exec=doas pacman -Syu && qdbus org.kde.Shutdown /Shutdown logoutAndShutdown
Icon=update-none
Name=Update & Poweroff
NoDisplay=false
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
