[Desktop Entry]
Comment=
Exec=/home/nhanb/scripts/update-and-shutdown.sh
Icon=update-none
Name=Update & Poweroff
NoDisplay=false
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
